h1 {
    font-size: 3em;
    font-family: 'Georgia';
    color:  #ffffff;
    text-align: center;
}
p {
    font-size: 2em;
    font-family:'Georgia';
    color:  #ffffff;
    text-align: center;
}
body {
  background-color: #000000;
}


#colorspell { 
  max-width: 50%;
   max-height: 50%;
}

#reflection {
   width: 50%;
   height: 50%;  
}

#bones {
   width: 50%;
   height: 50%;  
}

#stycke {
    text-align: right;
    font-size: 1em;
}
    

.block {
    display: inline-block;
     width: 600px;
    height: auto;
  margin: auto;
     background-color:red;
}
.container {
     width: 100%;
    height: 600px; 
  margin: auto;
  background-color:blue;
}
