h1 {
    font-size: 3em;
    font-family: 'Georgia';
    color:  #ffffff;
    text-align: center;
}
p {
    font-size: 2em;
    font-family:'Georgia';
    color:  #ffffff;
    text-align: center;
}
body {
  background-color: #000000;
}

#colorspell{ 
  width: 500px;
   height: 1000px;
}

#reflection {
   width: 500px;
   height: 1000px;  
}

#bones {
   width: 500px;
   height: 1000px;  
}
